/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

header li {
  list-style: none;
  display: inline-block;
  text-align: right;
  padding: 10px;
}

.logo {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
}

.logo span {
  color: aquamarine;
  font-size: inherit;
  padding: inherit;
}

header a {
  color: black;
}
/*Main section*/
main {
  border: 5px solid black;
  padding-top: 80px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
}

main p {
  border: 1px solid black;
}

article {
  border: 1px solid purple;
}

article h1 {
  border: 1px solid red;
}

.column {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}
