header {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 5px 0;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

header li {
  list-style: none;
  display: inline-block;
  text-align: right;
  padding: 10px;
  width: 100%;
}

header h1 {
  width: 180px;
  color: aquamarine;
  font-size: inherit;
}

header a {
  color: black;
}
